*DS_Store*
*.o
*~
*.cache
*.log
*/*.deps/*.*Po
*.status
config.h
confdefs.h
conftest*
libtool
*stamp-*
source/gaa
*/.libs/*
Makefile
*/Makefile
*/*/Makefile
doc/gaa.ps
*(Autosaved)*
*.dSYM
gaa-*.*.*/*
.env.local
sample/lib*.a
