compile linguist-vendored
config.guess linguist-vendored
config.sub linguist-vendored
depcomp linguist-vendored
install-sh linguist-vendored
ltmain.sh linguist-vendored
mdate-sh linguist-vendored
missing linguist-vendored
texinfo.tex linguist-vendored
ylwrap linguist-vendored
